Package: June-Cheque
Version: __VERSION__
Maintainer: Paolo G
Architecture: all
Description: A CLI in order to create cheques for the June currency
Depends: openssl, python3, secure-delete, pip3, python3-duniterpy
